*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: green;
}

button:hover{
    background-color: rgb(33, 165, 62);
}

.cabeza{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:green; }

header{
    background-color: rgb(245,245,245);
    
}

header .loga{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: green;
    font-size: 1.6em;
}

header .cabeza{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: rgb(23, 144, 49);
}


#habitaciones{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#habitaciones .cuerda{
    padding: 100px 12px;
}

#habitaciones h2{
    margin-top: 0;
    font-size: 3.2em;
}

#habitaciones p{
    display: none;
}

#habitaciones .papel{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.papel:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("HbMedia/1.jpeg");

}

.papel:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("HbMedia/2.jpeg");
}

.papel:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("HbMedia/34.jpeg");

}


#habitaciones{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#habitaciones .progra{
    padding: 50px 12px;
}

#habitaciones h2{
    margin-top: 0;
    font-size: 3.2em;
}

#habitaciones p{
    display: none;
}

#habitaciones .pape{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.pape:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("HbMedia/4.jpeg");

}

.pape:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("HbMedia/5.jpg");
}

.pape:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("HbMedia/6.jpeg");

}


#rooms{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#rooms .room{
    padding: 10px 12px;
}

#rooms h2{
    margin-top: 0;
    font-size: 3.2em;
}

#rooms p{
    display: none;
}

#rooms .habi{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.habi:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("HbMedia/7.jpeg");

}

.habi:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("HbMedia/8.jpeg");
}

.habi:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("HbMedia/9.jpeg");

}


#habit{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#habit .tv{
    padding: 40px 12px;
}

#habit h2{
    margin-top: 0;
    font-size: 3.2em;
}

#habit p{
    display: none;
}

#habit .cama{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.cama:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("HbMedia/10.jpeg");

}

.cama:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("HbMedia/11.jpeg");
}

.cama:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("HbMedia/12.jpeg");

}


footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .cabeza{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}











@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .cabeza{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #habitaciones .program{
        display: flex;
        justify-content: center;
    }

    #habitaciones p{
        display: block;
        margin-bottom: 130px;
    }

    #habitaciones h2{
        font-size: 4em;
    }

    #habitaciones h3{
        margin-top: 0;
    }

    #habitaciones .papel{
        padding: 200px 100px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .papel:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("HbMedia/1.jpeg");

    }

    .papel:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("HbMedia/2.jpeg");
    }

    .papel:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("HbMedia/34.jpeg");

    }


    #habitaciones .progra{
        display: flex;
        justify-content: center;
    }

    #habitaciones p{
        display: block;
        margin-bottom: 30px;
    }

    #habitaciones h2{
        font-size: 4em;
    }

    #habitaciones h3{
        margin-top: 0;
    }

    #habitaciones .pape{
        padding: 200px 100px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .pape:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("HbMedia/4.jpeg");

    }

    .pape:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("HbMedia/5.jpg");
    }

    .pape:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("HbMedia/6.jpeg");

    }


    #rooms .room{
        display: flex;
        justify-content: center;
    }

    #rooms p{
        display: block;
        margin-bottom: 30px;
    }

    #rooms h2{
        font-size: 4em;
    }

    #rooms h3{
        margin-top: 0;
    }

    #rooms .habi{
        padding: 200px 100px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .habi:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("HbMedia/7.jpeg");

    }

    .habi:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("HbMedia/8.jpeg");
    }

    .habi:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("HbMedia/9.jpeg");

    }


    #habit .tv{
        display: flex;
        justify-content: center;
    }

    #habit p{
        display: block;
        margin-bottom: 30px;
    }

    #habit h2{
        font-size: 4em;
    }

    #habit h3{
        margin-top: 0;
    }

    #habit .cama{
        padding: 200px 100px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .cama:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("HbMedia/10.jpeg");

    }

    .cama:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("HbMedia/11.jpeg");
    }

    .cama:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("HbMedia/12.jpeg");

    }


    footer .cabeza{
        justify-content: flex-end;
    }

}    